.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.main-m {
  padding-top: 5.75rem;;
  padding-left: calc(22rem);
  padding-right: 16rem;
  transition: margin-left 0.5s;
  top: 70px;
  height: 100%;
  bottom: 0;
}

html,
body,
#app,
.wrapper {
  height: 100%;
}
body {
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none
}
